build/
*.~lock.*
app/output/props/*
app/config/assets/csv/*
tempZipDir
.idea/*
app/config/tables/MADTRIAL_FU_PHONE/Forms/MADTRIAL_FU_PHONE/~$MADTRIAL_FU_PHONE.xlsx
app/config/tables/MADTRIAL_FU_VIS/Forms/MADTRIAL_FU_VIS/~$MADTRIAL_FU_VIS.xlsx
app/config/tables/MADTRIAL_INC/Forms/MADTRIAL_INC/~$MADTRIAL_INC.xlsx
